workflows/workflow2.json
{
  "name": "My workflow 2",
  "nodes": [
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst totalItems = items.length;\n\n// This checks if we have AT LEAST 10 items\nif (totalItems >= 10) {\n  // Always sends the most recent 10 to the AI\n  return items.slice(-10);\n} else {\n  return [];\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        384,
        64
      ],
      "id": "15f11b3a-c148-42cc-844b-eaaf40c6893e",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Here is customer feedback: {{ $json.Rating }}\n,{{ $json['  Feedback and Insights for Improvement'] }},\n{{ $json['  What issue did you face?  '] }}",
        "messages": {
          "messageValues": [
            {
              "message": "=You are a business analyst.\nYou are given customer Feedback data.AND your job is to create very clear and consize ,perfectly formatted gmail.\nIT SHOULD LOOK LIKE A PERFECT SAAS MAIL.\nHi Team,\nHere is your latest customer feedback summary.\n📊 Overview\nOverall sentiment: \n🔍 Key Insights\n💡 Recommendations\n =>most common issues etc.\n—\nIf any issue appears frequently or is critical, add:\nALERT: <clear issue and reason>\nIf no major issue, DO NOT include ALERT."
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        832,
        -32
      ],
      "id": "5ac345a1-abc7-40bf-ac62-7fe5f0a46629",
      "name": "Basic LLM Chain"
    },
    {
      "parameters": {
        "sendTo": "gopibhanucharan6@gmail.com",
        "subject": "Customer Feedback Report",
        "emailType": "text",
        "message": "={{ $json.text.includes('ALERT:') ? $json.text.split('ALERT:')[0] : $json.text }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        1184,
        -32
      ],
      "id": "ca009d43-7fca-4336-a851-842f8469c2a1",
      "name": "Send a message",
      "webhookId": "e60f180c-f591-4a6e-ad10-628e1baec8ec",
      "credentials": {
        "gmailOAuth2": {
          "id": "XcaTblZSVwx6sq7B",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "5a98c506-5a42-481f-a89d-f3c38c2c5432",
              "leftValue": "={{ $('Basic LLM Chain').item.json.text }}",
              "rightValue": "ALERT",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1408,
        -32
      ],
      "id": "c07968ce-edb0-4207-9673-535d2423b2e9",
      "name": "If"
    },
    {
      "parameters": {
        "sendTo": "gopibhanucharan6@gmail.com",
        "subject": "ALERT!! ",
        "emailType": "text",
        "message": "={{ $json.text }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        1984,
        -32
      ],
      "id": "fd218355-a448-4938-9e9f-5cd767c96f93",
      "name": "Send a message1",
      "webhookId": "a6c7697c-4854-4cbe-86cb-e623b168db7b",
      "credentials": {
        "gmailOAuth2": {
          "id": "XcaTblZSVwx6sq7B",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Problem : {{ $('Basic LLM Chain').item.json.text }}",
        "messages": {
          "messageValues": [
            {
              "message": "=You are an expert business consultant.\nyou are given a ALERT\nAND your job is to create very clear and consize ,perfectly formatted gmail.\nIT SHOULD LOOK LIKE A PERFECT SAAS MAIL.\nHi Team,\nA critical issue has been detected in recent customer feedback.\n🚨 Issue\n📊 What’s happening\n⚡ Impact\nThis issue may significantly affect customer satisfaction.\n🛠️ Recommended Immediate Actions\n__"
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        1632,
        -32
      ],
      "id": "8f98efd5-9f00-4016-944c-582a8b6bf705",
      "name": "Basic LLM Chain1"
    },
    {
      "parameters": {
        "model": "llama-3.3-70b-versatile",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        1712,
        192
      ],
      "id": "52451a9b-e988-4f11-9a6f-8ed54d2291e1",
      "name": "Groq Chat Model",
      "credentials": {
        "groqApi": {
          "id": "boEg8QO7Gb2FNVP3",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {
        "model": "llama-3.3-70b-versatile",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        912,
        192
      ],
      "id": "e3e60a4f-8feb-4970-bf33-b60d507f24e1",
      "name": "Groq Chat Model1",
      "credentials": {
        "groqApi": {
          "id": "boEg8QO7Gb2FNVP3",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "Rating"
            },
            {
              "fieldToAggregate": "  Feedback and Insights for Improvement"
            },
            {
              "fieldToAggregate": "  What issue did you face?  "
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        608,
        -32
      ],
      "id": "e4db3f85-24b1-47a4-b408-106b6147981f",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1rmsnr5BU2HOUsmKegStgunUrvmP89FhMwRAx8DDQZhE/edit?resourcekey=&gid=57878654#gid=57878654",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "Form responses 1",
          "mode": "name"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Column 5"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        160,
        64
      ],
      "id": "5d6e4d8f-f5ab-4d35-90e9-8189dd8ad957",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "mGA78OpMltp4LezL",
          "name": "Google Sheets OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 9
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -64,
        64
      ],
      "id": "60fefd52-4007-4709-8dc3-c2cf8b1750a0",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1rmsnr5BU2HOUsmKegStgunUrvmP89FhMwRAx8DDQZhE/edit?resourcekey=&gid=57878654#gid=57878654",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "Form responses 1",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "row_number": "={{ $json.row_number }}",
            "Column 5": "DONE"
          },
          "matchingColumns": [
            "row_number"
          ],
          "schema": [
            {
              "id": "Timestamp",
              "displayName": "Timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Rating",
              "displayName": "Rating",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "  Feedback and Insights for Improvement",
              "displayName": "  Feedback and Insights for Improvement",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "  What issue did you face?  ",
              "displayName": "  What issue did you face?  ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Column 5",
              "displayName": "Column 5",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        608,
        160
      ],
      "id": "2eec24eb-aa1a-49fc-b81a-46d48a153682",
      "name": "Update row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "mGA78OpMltp4LezL",
          "name": "Google Sheets OAuth2 API"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          },
          {
            "node": "Update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Basic LLM Chain1",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Basic LLM Chain1": {
      "main": [
        [
          {
            "node": "Send a message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Send a message1": {
      "main": [
        []
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update row in sheet": {
      "main": [
        []
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "c381f0c3-7031-454f-8796-525c4d4b38c3",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "70a3cb849b8e995e08309d549b75cb773cfeeac0bc3e9adfa1ca607828f81b0c"
  },
  "id": "OYbIWe8oNrlt6ZWL",
  "tags": []
}
